{% extends 'core/base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="privacy">
        <div class="container">
            <h3 class="tittle-w3l">Pick an option
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
        </div>
        <div>
            Payment option:
            {% for key, value in form.fields.payment_option.choices %}
            <div>
                <input id="{{ value }}" name="payment_option" value="{{ key }}" type="radio" required>
                <label for="{{ value }}">{{ value }}</label>
            </div>
            {% endfor %}
        </div>
    </div>
    <button class='btn btn-primary' type='submit'>Proceed</button>
</form>
{% endblock %}